<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="PokerPal Style Rules" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0162" Action="Error" />
    <Rule Id="CS1998" Action="None" />
    <Rule Id="CS8625" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="Microsoft.VisualStudio.Threading.Analyzers">
    <Rule Id="VSTHRD111" Action="None" />
    <Rule Id="VSTHRD200" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="Error" />
    <Rule Id="SA1200" Action="Error" />
    <Rule Id="SA1300" Action="Error" />
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1402" Action="Error" />
    <Rule Id="SA1413" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1600" Action="Error" />
    <Rule Id="SA1602" Action="Error" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1635" Action="None" />
  </Rules>
</RuleSet>
