.App {
  text-align: center;
}

.universalTextColour {
  color: #0013ae;
  font-family: 'Poppins', Arial, sans-serif;
}

.App-logo-large {
  width: calc(140px + 50vmin);
  height: auto;
}
.App-logo-small {
  border-left: 10px solid white;
  border-top: 10px solid white;
  display: block;
  height: 150px;
  width: 150px;
}

.Page-header {
  color: #0013ae;
}

.App-header {
  background-color: #0013ae;
  height: 30%;
  padding: 20px;
  font-size: 150px;
  color: gold;
  font-family: Arial, serif;
}

.custom-header {
  height: 30%;
  padding: 20px;
  font-size: calc(0px + 15vmin);
  color: #0013ae;
  font-family: 'Poppins', Arial, sans-serif;
}

.App-intro {
  font-size: 50pt;
  font-weight: 600;
  color: #0013ae;
}

.Input-box {
  background-color: white;
  height: 30px;
  width: 250px;
  font-size: medium;
  border-radius: .25rem;
}

.Login-button {
  background-color: #0013ae;
  height: 50px;
  width: 100px;
  font-size: medium;
  text-align: center;
  color: white;
  border-radius: .25rem;
}
