
.Tournament{
    float: center;
}
.tournamentRightSection {
    border-color: #222222;
    /*background-color: #777;*/
    padding: 10px;
    float:left;
    width: 50%;
    text-align: left;
    color: #0013ae
}
.tournamentLeftSection {
    border-color: #222222;
    float: left;
    width: 20%;
    text-align: left;
    /* height: 200px; only for demonstration, should be removed */
    /*background: #ccc;*/
    padding-left: 400px;
    padding-top: 20px;
}